# ชี้ไปที่ฐานข้อมูล mydb ของ postgres ที่รันอยู่ในเครื่อง
DATABASE_URL="postgresql://csmju:csmju_password@localhost:5433/csmju_coop_hours?schema=public"

MOCK_AUTH="true"
MOCK_USER_ID="6512345678"
MOCK_ROLE="student"
MOCK_FACULTY="science"

SUBSYSTEM_ADMIN_EXCEPTIONS="6512345678"